@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {font-size: 16px; line-height: 1.5em; font-family: 'Roboto', sans-serif; font-weight: 400; background: #FAFAFA; color: #333; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0; padding: 0;}

header {background: #185D6F; color: #fff; text-align: center; padding: 1em;}
h1 {font-size: 3em; font-weight: 400;}
h2 {font-size: 2.5em; font-weight: 400; text-align: center; line-height: 1.5em;}
p {margin: 1.5em 0 0;}
.centered {text-align: center;}

main {width: 80vw; margin: 0 auto;}

.left {float: left}
.right {float: right}

form.location {position: relative;}
.autocompleteLocations { position: absolute; border: 1px solid #d4d4d4; border-bottom: none; border-top: none; z-index: 10; top: 100%; left: 0; right: 0; }

.questions {width: 30vw; margin: 0 auto;}
.questions.week {width: 100%;}
.week ul {display: flex; justify-content: center;}

button {font-size: 1em; font-family: 'Roboto'; border-radius: 4px;}

img {border-radius: 4px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);}

.questions ul {list-style: none; padding: 0;}
ul button {box-sizing: border-box; padding: 1em; margin: 0.75em 0; border: 1px solid #ddd; background: #eee; width: 100%; text-align: center;}
ul button:hover, ul button.selected {box-sizing: border-box; border: 2px solid #285C74; background: #E4E7ED;}

input {border-radius: 4px; font-size: 1.1em; width: 100%; padding: 0.75em 1em; margin: 0.5em 0 0 0; background: #f5f5f5; border: 1px solid #E4E4E4; box-sizing: border-box; }
input::placeholder {color: #888888;}
input:focus {border: 2px solid #185D6F; outline: none;}

ul.options {background: #f5f5f5; border: 1px solid #E4E4E4; margin: 0; width: 100%; box-sizing: border-box}
ul.options li {padding: 0.75em 1em;}
ul.options li.active {background: #d3f2f1; border: 1px solid #9daeb0;}
ul.options li:hover {background: #d3edf2;}

.week ul {list-style-type: none;}
.week ul button {padding: 1.5em 0.75em;}
.week ul li {margin: 0 1em; width: 10%;}

ul.days {list-style-type: none; margin: 0; padding: 0;}
ul.days li {display: inline-block; padding: 0.5em 0.75em; margin: 0 0.25em; background: #fff; border: 1px solid #ddd;}

button.reset {padding: 0.5em 0.75em; background: #fff; border: 3px solid #8B7D3A; color: #8B7D3A;}
button.reset:hover {background: #8B7D3A; color: #fff;}
button.next {padding: 0.5em 1.25em; background: #185D6F; color: #fff; font-weight: 500; border: 3px solid #185D6F;}
button.next:hover {background: #489982; border: 3px solid #489982;}

.listing {background: #eee; border: 1px solid #999; border-radius: 4px; padding: 1em; margin: 3em; display: flex;}
.listing h2 {text-align: left; font-size: 2em; color: #185D6F; margin: 0 0 0.25em;}
.listing div {box-sizing: border-box; padding: 0 2em; flex-grow: 2;}
.listing ul {margin-top: 0.25em;}
.price, .call {text-align: right;}
.price {font-size: 1.5em; font-weight: 500; color: #8B7D3A; padding-right: 0.2em;}
.price span {font-size: 0.85em;}
a[href^="tel:"] {padding: 1em 1.5em; margin-top: 0.75em; background: #FFC247; border-radius: 8px; color: #333; text-decoration: none; font-weight: 700; display: inline-block;}